*.out
*.o
*.obj
*.exe
*.dSYM
*.in
*.res
*.txt
*.csv

.DS_Store
.vscode/
testar.py

tarefas/tarefa00/bomdia
tarefas/tarefa00/boanoite
tarefas/tarefa01/swift
tarefas/tarefa01/xou
tarefas/tarefa01/primos
tarefas/tarefa02/drama
tarefas/tarefa02/cpf
tarefas/tarefa02/auau
tarefas/tarefa03/kernel
tarefas/tarefa03/life
tarefas/tarefa03/bobbie
tarefas/tarefa04/matriz
tarefas/tarefa05/deque_herois
tarefas/tarefa06/gattaca
tarefas/tarefa07/agenda
tarefas/tarefa08/hashtags
tarefas/tarefa09/buildmap
tarefas/tarefa10/rede